.profile-image-container {
    width: 148px;
    height: 148px;
  }
  
  .profile-image-container:before {
    content: "";
    position: absolute;
    top: calc(-50% + 10px);
    left: -92px;
    background-image: url('/images/ssshape.svg');
    width: 340px;
    height: 320px;
    background-repeat: no-repeat;
    background-position: center; 
  }
  
  .profile-image-container::after {
    content: "";
    position: absolute;
    top: calc(-50% + 30px);
    left: -64px;
    background-image: url('/images/ssshape.svg');
    width: 282px;
    height: 270px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .profile-image {
    top: calc(50% - 0.5*var(--profile-image-size));
    max-width: 100px;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
  }